.primary_button {
  padding: 4px 15px;
  margin: 0.35em;
  border: 2px solid #000466;
  background-color: white;
  color: #000466;
  display: flex;
  font-size: 14px;
  font-family: "MuseoModerno";
  align-items: center;
  justify-content: center;
}

.primary_button:hover {
  background-color: #000466;
  color: white;
}
