.home {
  overflow: hidden;
}

.orderCard_container {
  padding: 200px 30px 30px 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  background-color: #000466;
  overflow-x: auto;
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  .orderCard_container {
    padding-top: 60px;
  }
}

.orderCard_container::-webkit-scrollbar {
  display: none;
}

.orderCard_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
